* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #5f27cd;
    padding: 16px 8px;
    color: #fff;
    display: flex;
    border-bottom: 16px solid #341f97;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input,
button {
    padding: 8px;
}

button {
    background-color: #009432;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

#btn-cancel {
    background-color: firebrick;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    /* max-height: 280px; */
    /* overflow-y: hidden; */
}

ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
    padding: 5px;
}

.overlay-img-link {
    padding: 16px;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 5px;
    left: 5px ;
    width: calc(100% - 10px);
    opacity: 0;
    transition: all ease .5s;
}

.overlay-img-link a {
    color: #fff;
    text-decoration: none;
}

ul li:hover .overlay-img-link {
    opacity: 1;
}

@media (max-width: 1024px) {
    ul li {
        max-width: 33.33%;
    }
}

@media (max-width: 768px) {
    ul li {
        max-width: 50%;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    header button {
        margin-left: 0;
        margin-top: 8px;
    }

    .overlay-img-link {
        font-size: small;
    }
}

@media (max-width: 480px) {
    ul {
        flex-direction: column;
        align-items: center;
    }

    ul li {
        max-width: 100%;
    }

    form {
        padding: 16px;
    }
}
